.User {
  background: $color2;
  color: $color6;
  padding-block: $thirty-twopx;

  h2 {
    text-align: center;
    font-size: $thirty-twopx;
    line-height: 45px;

    span {
      display: block;
    }
  }
  button {
    display: block;
    margin: $sixteenpx auto $thirty-twopx;
    background: $color3;
    color: $color6;
    padding: $tenpx;
    border-width: 2px;
    border-color: $color3;
    font-weight: $weight-semibold;
    border-style: outset;
    transition: all 0.3s ease;
    &:hover {
      background: darken($color: #00bc77, $amount: 5);
      border-color: darken($color: #00bc77, $amount: 5);
    }
    &:active {
      border-style: inset;
    }
  }
  .accounts-zone {
    display: grid;
    gap: $thirty-twopx;
  }
}

@media screen and (max-width: 1250px) {
  .User {
    padding-bottom: calc(2 * $hundredpx);
  }
}
