.Feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .feature-icon {
    width: 9.5rem;
    height: 9.5rem;
    padding: $sixteenpx;
    border: 10px solid #00bc77;
    border-radius: 50%;
  }

  .feature-title {
    margin-block: 1.7rem 1rem;
  }
}
