.Hero {
  position: relative;
  height: calc(4 * $hundredpx);

  .hero-banner {
    object-position: 0% 33%;
  }

  .hero-content {
    position: absolute;
    background: $color6;
    top: $eightypx;
    right: $eightypx;
    width: calc(3 * $hundredpx);
    padding: $thirty-twopx;
    box-sizing: content-box;

    .hero-title {
      display: flex;
      flex-direction: column;
      gap: $fivepx;
      font-weight: $weight-medium;
      line-height: 30px;
    }

    .hero-description {
      margin-top: 1.2rem;
      font-weight: 100;
      font-size: 1.2rem;
      line-height: 25px;
    }
  }
}

@media screen and (max-width: 1250px) {
  .Hero {
    height: calc(3 * $hundredpx);
    .hero-banner {
      object-position: 0% 20%;
    }
    .hero-content {
      top: $thirty-twopx;
      right: 50%;
      transform: translateX(50%);
      width: calc(2 * $hundredpx);
      .hero-title {
        font-size: $sixteenpx;
        line-height: 20px;
      }
      .hero-description {
        font-size: 14.4px;
        line-height: 20px;
      }
    }
  }
}

@media screen and (max-width: 678px) {
  .Hero {
    overflow: hidden;
    .hero-banner {
      position: relative;
      object-position: 0% -90%;
      top: -7%;
    }
    .hero-content {
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
    }
    margin-bottom: $thirty-twopx;
  }
}
